@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#home {
  background-image: url("/capa.jpg");
  background-color: #444;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#openmenu {
  display: contents;
}

@media (max-width: 600px) {
  #closemenu {
    display: none;
  }
}

#topbar {
  position: absolute;
  animation-duration: 0.5s;
  transform: translateY(16px);
  transform: rotate(135deg);
}
#bottombar {
  position: absolute;
  animation-duration: 0.5s;
  transform: translateY(-16px);
  transform: rotate(-135deg);
}
#hidebar {
  display: none;
}
